body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: slategrey;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  color: white;
}

p {
  font-size: 1rem;
  text-align: left;
}

.APIReturns {
}

#headerReturn {
  font-size: 2rem;
}

#krakenBlock {
}

#coinbaseBlock {
}

#huobiBlock {
}

#allBlocks {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  /* text-align: left; */
}

#assetMenu {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style-type: none;
}

.blockHeaders {
  text-align: center;
}

.blockText {
  justify-content: left;
}

#allBlocks {
  margin-top: 2rem;
}

#allBlocks li {
  text-align: left;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.infoButtons {
  background-color: darkorange;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

/* TODO: stack blocks if window becomes too thin */